{% set fname = "project_benches/{{name}}/tb/sequences/{{name}}_sequences_pkg.sv" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} Simulation Bench 
// Unit            : Sequences Package
// File            : {{name}}_sequences_pkg.sv
//----------------------------------------------------------------------
//
// DESCRIPTION: This package includes all high level sequence classes used 
//     in the environment.  These include utility sequences and top
//     level sequences.
//
// CONTAINS:
//     -<{{name}}_sequence_base>
//     -<example_derived_test_sequence>
//
//----------------------------------------------------------------------
//
{% endblock %}

{% block contents %}

package {{name}}_sequences_pkg;

   import uvm_pkg::*;
   import questa_uvm_pkg::*;
   import uvmf_base_pkg::*;
{% for bfm in bfm_pkgs %}
   import {{bfm}}_pkg::*;
{% endfor %}
   import {{name}}_parameters_pkg::*;
   import {{env_name}}_env_pkg::*;
{% if qvip_bfm_pkgs|length > 0 %}
   import mvc_pkg::*;
{% endif %}
{% for ext_import in external_imports %}
   import {{ext_import}}::*;
{% endfor %}

{% if useCoEmuClkRstGen %}
   import clock_pkg::*;
   import reset_pkg::*;
{% endif %}
  
   `include "uvm_macros.svh"

{% if inFactReady %}
   `include "src/infact_{{name}}_bench_transactions.svh"
{% endif %}
   `include "src/{{name}}_bench_sequence_base.svh"
   `include "src/example_derived_test_sequence.svh"
{% if inFactReady %}
`ifdef INFACT_ENABLE_COMPILE
{% for bfm in bfms %}
{% if bfm.activity == 'ACTIVE' %}
   `include "infact_proj_dir/infact_{{bfm.name}}_{{bfm.ifPkg}}_transaction_gen/infact_{{bfm.name}}_{{bfm.ifPkg}}_transaction_gen.svh"
{% endif %}   
{% endfor %}
   `include "src/infact_{{name}}_bench_sequence_base.svh"
`endif
{% endif %}

endpackage

{% endblock %}
