{% set fname = "project_benches/{{name}}/{{name}}_bench_mtlb_prep.sh" %}
{% set conditional = "mtlbReady" %}
#----------------------------------------------------------------------
#                                          
# DESCRIPTION: This script  replaces base files with mtlb flow files
#
#----------------------------------------------------------------------
cp -f sim/Makefile_mtlb sim/Makefile
cp -f tb/sequences/{{name}}_sequences_pkg_mtlb.sv tb/sequences/{{name}}_sequences_pkg.sv
cp -f tb/sequences/src/DPI_stimgen_sequence_mtlb.svh tb/sequences/src/DPI_stimgen_sequence.svh
cp -f tb/sequences/src/read_from_file_sequence_mtlb.svh tb/sequences/src/read_from_file_sequence.svh
cp -f tb/testbench/hdl_top_mtlb.sv tb/testbench/hdl_top.sv
cp -f tb/tests/{{name}}_tests_pkg_mtlb.sv tb/tests/{{name}}_tests_pkg.sv
cp -f tb/tests/src/DPI_stimgen_test_mtlb.svh tb/tests/src/DPI_stimgen_test.svh
cp -f tb/tests/src/read_from_file_test_mtlb.svh tb/tests/src/read_from_file_test.svh
cp -f sim/wave_mtlb.do sim/wave.do
