# Converted from tbx.config through tools/qa/scripts/config2config.pl
comp -num_boards 1 # Always put. If something comes later, this will be overwritten.
comp -hvl questa # From: "comp -questa"
comp -platform D1S # From: "velsyn -D1S"
rtlc -allow_4ST

#rtlc -infer_CLA
#velsyn -Dump e e.dmp
#velgs -dti
#comp -sv
#hvl -enable_profile_report # From: "comp -enable_profile_report"
#rtlc -one_way_callee_opt

#comp -assertcomp
#comp -assert_compile_options " -qvl -ovl -sva +define+QVL_ASSERT_ON +define+ZI_FOR_SEARCH "
#veanalyze -assert_analyze_options " -qvl -ovl -sva "
#assert_commandline_options +0in_debug+sv_functions+switch_sv_ext
