{% set fname = "verification_ip/interface_packages/{{name}}_pkg/src/{{name}}_sequence_base.svh" %}
{% extends "base_template.TMPL" %}

{% block description %}
//
//----------------------------------------------------------------------
// Project         : {{name}} interface agent
// Unit            : Interface Sequence Base
// File            : {{name}}_sequence_base.svh
//----------------------------------------------------------------------
//     
// DESCRIPTION: 
// This file contains the class used as the base class for all sequences
// for this interface.
//
// ****************************************************************************
// ****************************************************************************
class {{name}}_sequence_base {%if paramDefs|length > 0%} #(
{% for param in paramDefs %}      {{param.type}} {{param.name}} = {{param.value}}{% if not loop.last %},{% endif %}                                
{% endfor %}      ) {% endif %}
extends uvmf_sequence_base #(
                             .REQ({{name}}_transaction {%if paramDefs|length > 0%} #(
{% for param in paramDefs %}                                 .{{param.name}}({{param.name}}){% if not loop.last %},{% endif %}                                
{% endfor %}                             ) {% endif %}),
                             .RSP({{name}}_transaction {%if paramDefs|length > 0%} #(
{% for param in paramDefs %}                                 .{{param.name}}({{param.name}}){% if not loop.last %},{% endif %}                                
{% endfor %}                             ) {% endif %}));

{%if paramDefs|length > 0%}
  `uvm_object_param_utils( {{name}}_sequence_base #(
  {% for param in paramDefs %}                            {{param.name}}{% if not loop.last %},{% endif %}

  {% endfor %}                          ))
{% else %}
  `uvm_object_utils( {{name}}_sequence_base )
{% endif %}

  // variables
  typedef {{name}}_transaction {%if paramDefs|length > 0%} #(
{% for param in paramDefs %}                     .{{param.name}}({{param.name}}){% if not loop.last %},{% endif %}                                
{% endfor %}                     ) {% endif %} {{name}}_transaction_req_t;
{{name}}_transaction_req_t req;
  typedef {{name}}_transaction {%if paramDefs|length > 0%} #(
{% for param in paramDefs %}                     .{{param.name}}({{param.name}}){% if not loop.last %},{% endif %}                                
{% endfor %}                     ) {% endif %} {{name}}_transaction_rsp_t;
{{name}}_transaction_rsp_t rsp;

// Event for identifying when a response was received from the sequencer
event new_rsp;
// ****************************************************************************
// TASK : get_responses()
// This task recursively gets sequence item responses from the sequencer.
//
virtual task get_responses();
   fork
      begin
         // Block until new rsp available
         get_response(rsp);
         // New rsp received.  Indicate to sequence using event.
         ->new_rsp;
         // Display the received response transaction
         `uvm_info("SEQ", {"New response transaction:",rsp.convert2string()}, UVM_MEDIUM)
      end
   join_none
endtask

// ****************************************************************************
// TASK : pre_body()
// This task is called automatically when start is called with call_pre_post set to 1 (default).
// By calling get_responses() within pre_body() any derived sequences are automatically 
// processing response transactions.
//
virtual task pre_body();
   get_responses();
endtask

// ****************************************************************************
// TASK : body()
// This task is called automatically when start is called.  This sequence sends
// a req sequence item to the sequencer identified as an argument in the call
// to start.
//
virtual task body();
	start_item(req);
	finish_item(req);
endtask

// ****************************************************************************
// FUNCTION : new()
// This function is the standard SystemVerilog constructor.
//
  function new( string name ="");
    super.new( name );
    req = {{name}}_transaction_req_t::type_id::create("req");
    rsp = {{name}}_transaction_rsp_t::type_id::create("rsp");
  endfunction

endclass
{% endblock %}
