{% set fname = "verification_ip/environment_packages/{{name}}_env_pkg/{{name}}_env_pkg_sve.F" %}

// UVM
+incdir+${UVM_HOME}/src
${UVM_HOME}/src/uvm_pkg.sv

// Common UVMF files
-f ${UVMF_HOME}/common/common_sve.f

// Sub-Environments
{% for sub_env in subEnvironments %}
-F ${UVMF_VIP_LIBRARY_HOME}/environment_packages/{{sub_env.envPkg}}_env_pkg/{{sub_env.envPkg}}_env_pkg_sve.F
{% endfor %}

+incdir+.
./{{name}}_env_pkg.sv

